*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: var(--violet);
    color: white;
    max-width: 1400px;
}

a{
    text-decoration: none;
    color: var(--violet);
    background-color: none;
}

img{
    max-width: 100%;
}

a:hover{
    cursor: pointer;
    background-color: var(--pink);
    color: white;
    transition: 0.5s;
    border: 1px solid var(--pink);
}