*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: var(--violet);
    color: white;
}

a{
    text-decoration: none;
    color: var(--violet);
    background-color: none;
}

img{
    max-width: 100%;
}

a:hover{
    background-color: var(--pink);
    color: white;
    transition: 0.5s;
    border-color: var(--pink);
}