html {
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sem serifa;
}

.header img {
    display: flex;
    width: 20%;
    margin: 20px;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.section-primary {
    display: flex;
    margin: 20px;
    padding: 20px;
    max-width: 40%;
}

.illustration-mockups img{
    width: 100%;
}

.section-secundary {
    display: flex;
    max-width: 40%;
    padding: 20px;
}

.section-register {
    display: block;
    width: 100%;
    font-weight: 100;
    margin-bottom: 20px;
}

.section-register h2 {
    padding-bottom: 20px;
}

.section-register p {
    padding-bottom: 18px;
}

a.button-register {
    border-radius: 30px;
    padding: 5px 35px;
    text-align: center;
    font-size: 12px;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    box-shadow: 1px 1px 7px rgb(58, 56, 56);
}

footer {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: flex-end;
}

.social-network a {
    display: flex;
    width: 30px;
    height: 30px;
    color:  white;
    justify-content: center;
    align-items: center;
    align-content: right;
    margin-left: 2vh;

    border: 2px solid var(--fundo-neutro);
    border-radius: 100%;
    border-style: double;
}

.social-network a:hover{
    background-color: var(--violet);
    border-color: var(--pink);
}

a:hover .fa-facebook, 
a:hover .fa-twitter, 
a:hover .fa-instagram {
    color: var(--pink);
}




